@using Client.Components.AboutItem

<section class="about">
	<h2>Jak to działa ?</h2>
	<div class="advices">
		<AboutItem 
			ImgSrc="about1.png" 
			Title="Korzystaj z bazy" 
			Description="Korzystaj z bazy wygenerowanych quizów i algorytmów.
			Nie musisz kompletnie nic robić. Wystarczy tylko, że klikniesz u góry strony 
			w Quizy lub Algorytmy i wybierzesz cos dla siebie"/>
		<AboutItem 
			ImgSrc="about2.png"
			Title="Twórz bez ograniczeń"
			Description="Nie znalazłeś quizu lub algorytmu który chcesz przećwiczyć? 
			Nic się nie martw możesz stworzyć zadanie na dowolny (programistyczny) temat.
			Podasz jego opis oraz poziom trudności a sztuczna inteligencja wygeneruje go dla ciebie !" />
		<AboutItem
			ImgSrc="about3.png"
			Title="Zapisuj"
			Description="Po rejstracjii wszystkie stworozone dla ciebie rzeczy są zapisane. Możesz już zawsze z nich skorzystać!" />
	</div>
</section>

@code {

}
