<IntersectionObserve>
	<div class="item @(context.IsIntersecting ? "appear" : "")" @ref="context.Ref.Current">
		<img src="@ImgSrc" />
		<h2>@Title</h2>
		<p>@Description</p>
	</div>
</IntersectionObserve>

@code {
	[Parameter]
	public string ImgSrc { get; set; } = null!;

	[Parameter]
	public string Title { get; set; } = null!;

	[Parameter]
	public string Description { get; set; } = null!;
}
