@using Client.Components.QuizesContainer
@using Client.Components.LoginForm
@using Client.Components.CreateQuizForm
@using Client.Components.NotCreatedQuizesContainer

@inject IDataService _dataService
@inject IModalService _modalService

@if (!IsLoading)
{
	<div class="container">
		<button class="toggle-btn"
				@onclick='ToggleShowNotCreatedQuizesState'>
			@GetToggleButtonContent()
		</button>
		<div class="main-info">
			<p>
				Stworzyłeś
				<span class="bolder-font">
					@Quizes.Count() quiz@(GetQuizesWordSufix()) !
				</span>
			</p>
			<Button Content="Stwórz quiz" Secondary=true OnClickCallback="ShowCreateQuizModal" />
		</div>
		@if(!ShowNotCreatedQuizes)
		{
			<QuizesContainer Quizes="Quizes" AreQuizesLimitedToUser=true />
		}
		@if(ShowNotCreatedQuizes)
		{
			<NotCreatedQuizesContainer NotCreatedQuizzes="NotCreatedQuizes" />
		}
	</div>
}
@if (IsLoading)
{
	<Loading />
}

@code {

	public IEnumerable<QuizBasicResponseDto> Quizes { get; set; } = [];
	public IEnumerable<UserOwnQuizBasicResponseDto> NotCreatedQuizes { get; set; } = [];
	public bool IsLoading { get; set; } = false;
	public bool ShowNotCreatedQuizes { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		Quizes = await _dataService.GetUserQuizesAsync();
		IsLoading = false;
	}

	void ShowCreateQuizModal()
	{
		var modal = _modalService.Show<CreateQuizForm>("Stworz quiz !");
	}

	string GetQuizesWordSufix()
	{
		var quizesCount = Quizes.Count();

		if (quizesCount == 1) return "";
		if (quizesCount > 1 && quizesCount < 5) return "y";

		return "ów";
	}

	async Task ToggleShowNotCreatedQuizesState()
	{
		IsLoading = true;
		ShowNotCreatedQuizes = !ShowNotCreatedQuizes;

		if(ShowNotCreatedQuizes)
		{
			NotCreatedQuizes = await _dataService.GetUserNotCreatedQuizesAsync();
		}
		else
		{
			Quizes = await _dataService.GetUserQuizesAsync();
		}

		IsLoading = false;
	}

	string GetToggleButtonContent()
	{
		return ShowNotCreatedQuizes == false ? "Pokaż (jeszcze?) nie stworzone quizy" : "Pokaż stworzone quizy";
	}
}
