<div class="container @(IsSucces == true ? "succes" : "failure")">
	<img class="result-img" src=@(IsSucces ? "succes.png" : "failure.png") alt="@(IsSucces ? "Succes icon" : "Failure icon")" />
	@Message
	</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter] public string? Message { get; set; }

	[Parameter] public bool IsSucces { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(2000);

		await BlazoredModal.CloseAsync();
	}
}
