.container {
    padding: 2.5em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 3em;
}

    .main-info p {
        font-size: 20px;
        animation: appear .3s ease-in-out;
    }

.bolder-font {
    font-weight: bolder;
    color: #212529;
    font-size: 25px;
}

@keyframes appear {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}
