.btn {
  width: 125px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #212529;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secondary {
    color: #212529;
    background-color: #e9ecef;
}

.secondary:hover {
  background-color: white !important;
}

.btn:hover {
  background-color: #4d5d6d;
}
