@using Client.Components.DashboardItem;

@inject NavigationManager NavigationManager;
@inject CustomAuthStateProvider CustomAuthStateProvider;

<div class="wrapper">
	<div class="container">
		<DashboardItem Content="Twoje algorytmy" Link="/dashboard/algorithems" ImgSrc="AI2.svg" />
		<DashboardItem Content="Twoje quizy" Link="/dashboard/quizes" ImgSrc="AI.svg" />
		<DashboardItem Content="Ustawienia" Link="/dashboard/settings" ImgSrc="Settings.svg" />
		<DashboardItem Content="Wyloguj" ImgSrc="Logout.svg" OnClickCallback=@HandleLogout SeperateCallback=true/>
	</div>
</div>

@code {
	private async Task HandleLogout()
	{
		await CustomAuthStateProvider.LogOutAsync();

		NavigationManager.NavigateTo("/");
	}
}