<article class="title-article">
	<h2>Odkrywaj naszą bazę quizow !</h2>
	<p>Nie znalazłeś tego czego szukasz ? Zaloguj się ,
		wybierz technologię i poziom zaawansowania , a sztuczna inteligencja zajmie się stworzeniem quizu !</p>
		<div class="button-wrapper">
			<Button Content="Zaloguj się !" />
		</div>
</article>
