h1:focus {
  outline: none;
}

h1 {
  font-size: 50px;
  animation: appear-left 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  animation: start-blur 0.3s ease-in-out;
}

::deep form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: appear-right 0.3s ease-in-out;
  width:500px;
}

.register-failure {
    color: #c1121f;
    font-size: 20px;
}

.register-succes{
    color: #6a994e; 
    font-size: 20px;
}

@keyframes appear-left {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes appear-right {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes start-blur {
    from{
        filter: blur(3px);
    }
    to{
        filter: blur(0px);
    }
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 30px;
    }
}