.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px
}

.brand {
  font-size: 32px;
  text-decoration: none;
  color:var(--darkblue);
}

.nav-links {
  display: flex;
  gap: 10px;
  z-index:10;
}

::deep .nav-links a {
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
  color: var(--gray);
  font-size: 20px;
}

::deep .nav-links a:hover {
  color:var(--darkblue);
}


::deep .nav-links a.active {
  background-color: var(--darkblue);
  color: white;
}

::deep .nav-links a.active::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

::deep .nav-links a.active:hover::after {
  width: 100%;
}

img{
    width: 40px;
    height: 40px;
}

.burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background: var(--darkblue);
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}



@media only screen and (max-width: 900px) {
    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

        .burger.active .line:first-child {
            transform: translateY(-300px);
        }

        .burger.active .line:nth-child(2) {
            transform: rotate(-405deg) translateY(8px);
        }

        .burger.active .line:nth-child(3) {
            transform: rotate(-320deg) translateY(-10px);
        }

    .nav-links {
        position: absolute;
        right: 0;
        top: 15vh;
        background-color: var(--darkblue);
        height: 92vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
        gap:50px;
    }

     .nav-links.active {
            transform: translate(0%)!important;
        }

    a {
        color: whitesmoke;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    ::deep .nav-links a:hover {
        color: var(--peach);
    }
}

@media only screen and (max-width: 760px) {
    .nav-links {
        width: 100%;
    }
}

