<div class="navbar">
    <div class="logo-title">
        <img src="quiz.png" />
        <a href="#" class="brand">AiQuiz</a>
    </div>
    <div class="nav-links">
        <a href="#" class="active">Strona główna</a>
        <a href="#">Quizy</a>
        <a href="#">Zaloguj</a>
    </div>
</div>

@code {

}
