<nav class="navbar">
    <div class="logo-title">
        <img src="quiz.png" />
        <a href="#" class="brand">AiQuiz</a>
    </div>
    <div class="nav-links">
        <a href="#" class="active">Dom</a>
        <a href="/quizes">Quizy</a>
        <a href="#">Zaloguj</a>
    </div>
</nav>

@code {

}
