@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <nav class="navbar">
                <div class="logo-title">
                    <img src="quiz.png" />
                    <a href="" class="brand">AiQuiz</a>
                </div>
                <div class="nav-links">
                    <NavLink href="/" ActiveClass="active" Match="NavLinkMatch.All">Dom</NavLink>
                    <NavLink href="/quizes" ActiveClass="active">Quizy</NavLink>
                    <NavLink href="/dashboard" ActiveClass="active">Panel użytkownika</NavLink>
                </div>
            </nav>
        </Authorized>
        <NotAuthorized>
            <nav class="navbar">
                <div class="logo-title">
                    <img src="quiz.png" />
                    <a href="" class="brand">AiQuiz</a>
                </div>
                <div class="nav-links">
                    <NavLink href="/" ActiveClass="active" Match="NavLinkMatch.All">Dom</NavLink>
                    <NavLink href="/quizes" ActiveClass="active">Quizy</NavLink>
                    <NavLink href="/login" ActiveClass="active">Zaloguj</NavLink>
                    <NavLink href="/register" ActiveClass="active">Zarejestruj</NavLink>
                </div>
            </nav>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private bool userAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userAuthenticated = authState.User.Identity.IsAuthenticated;
    }
}