<div class="container">
	<h1>Witamy ponownie !</h1>
	<EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmit" class="form">
		<DataAnnotationsValidator />
		<div class="input">
			<label>Email</label>
			<InputText @bind-Value="loginModel.Email" />
		</div>
		<div class="input">
			<label>Hasło</label>
			<InputText type="password" @bind-Value="loginModel.Password" />
		</div>
		<ValidationSummary />
		<Button IsSubmit=true Content="Zaloguj się !" />
		@if (LoginFailed)
		{
			<p class="login-error">Failed to log in check your email and password !</p>
		}
	</EditForm>
</div>
@if (IsLoading)
{
	<Loading />
}

@code {
	[Inject]
	public IDataService _dataService { get; set; } = null!;

	[Inject]
	public NavigationManager NavigationManager { get; set; } = null!;

	public bool IsLoading { get; set; } = false;
	public bool LoginFailed { get; set; } = false;

	LoginModel loginModel = new();

	private async Task HandleValidSubmit()
	{
		LoginFailed = false;
		IsLoading = true;

		var authSucces = await _dataService.LoginAsync(loginModel.Email, loginModel.Password);

		IsLoading = false;

		if(authSucces)
		{
			NavigationManager.NavigateTo("/dashboard");
		}
		else
		{
			LoginFailed = true;
		}
	}
}
