<div class="question">
	<p>@Question.Content</p>
	@foreach (var answerItem in Question.Answers.Select((value , i) => new {i , value}))
	{
		<div class="answer">
			<input type="radio"
				   name="@Question.Id"
				   checked=@(answerItem.i == 0 ? true : false)
				   @onchange="(() => OnAnswerChange.InvokeAsync(new OnQuestionAnswerChangeEventData(Question.Id , answerItem.value.Id)))"
				   />
			<label>@answerItem.value.Content</label>
		</div>
	}
</div>

@code {
	[Parameter]
	public EventCallback<OnQuestionAnswerChangeEventData> OnAnswerChange { get; set; }

	[Parameter]
	public QuestionResponseDto Question { get; set; } = null!;
}
