<section class="hero">
	<h1>
		Niech sztuczna inteligencja pomoże ci w nauce programowania.
	</h1>
	<p class="hero_desc">
		Eksploruj quizy wygenerowane przez sztuczna inteligencję.
		Nie znalazłeś tego czego szukasz ? Nie przejmuj się .
		Ai stworzy quiz taki jaki zechcesz . Sam mozesz wybrac technologie oraz poziom zaawansowania.
	</p>
	<div class="buttons">
		<Button Content="Eksploruj" />
		<Button Content="Twórz" Secondary=true />
	</div>
</section>