<div class="item" @onclick='(() => NavigationManager.NavigateTo(GetQuizPath()))'>
	<h3>@Quiz.Title</h3>
	<p>Advance number : @Quiz.AdvanceNumber / 10</p>
	@if(IsQuizLimitedToUser)
	{
		<img 
			@onclick:stopPropagation="true"
			@onclick:preventDefault="true"
			src="delete.png" alt="Delete Icon" class="delete-icon" @onclick="(()=>OnDelete.InvokeAsync(Quiz.Id))"
			/>
	}
</div>

@code {
	[Inject]
	public NavigationManager NavigationManager { get; set; } = null!;

	[Parameter]
	public QuizBasicResponseDto Quiz { get; set; } = null!;

	[Parameter]
	public bool IsQuizLimitedToUser { get; set; } = false;

	[Parameter]
	public EventCallback<Guid> OnDelete { get; set; } = default!;

	private string GetQuizPath() => 
		IsQuizLimitedToUser ? $"dashboard/quizes/{Quiz.Id}" : $"quizes/{Quiz.Id}";
}
